fastapi==0.115.0
uvicorn==0.30.0
python-multipart==0.0.9
torchxrayvision==1.0.1
scikit-image==0.22.0
matplotlib==3.8.0
pillow==10.0.0
reportlab==4.0.4
minio==7.2.11
mlflow==2.11.1
prometheus-fastapi-instrumentator==6.1.0
numpy==1.26.4
requests==2.31.0